<div class='modal-dialog {{if this.dialogClasses this.dialogClasses}}'>
  <div class='modal-content'>
    <div class='modal-header'>
      <button type='button' class='close' aria-label='Close' {{action 'no'}}>
        <span aria-hidden='true'>&times;</span>
        <span class='sr-only'>Cancel</span>
      </button>
      {{#if this.isWarningTitle}}
        <span class="modal-title title-warning"><i class="icon icon-warning"></i>&nbsp;&nbsp;{{this.htmlSafeTitle}}</span>
      {{else}}
        <span class='modal-title'>{{this.htmlSafeTitle}}</span>
      {{/if}}
    </div>
    <div class='modal-body'>
      {{this.htmlSafeMessage}}
      {{#if this.typeToConfirmText}}
        <div class='type-to-confirm form-inline'>
          <label for='input-confirm'>Type {{this.typeToConfirmText}} to confirm</label>
          <Input @value={{this.typeToConfirmValue}} class='form-control' id='input-confirm' />
        </div>
      {{/if}}
    </div>

    <div class='modal-footer'>
      {{#unless this.yesButtonOnly}}
        <button class="btn btn-default" type='button' {{action 'no'}}>{{this.noActionText}}</button>
      {{/unless}}
      <button class="btn btn-primary" type='button' {{action 'yes'}}>{{this.yesActionText}}</button>
    </div>
  </div>
</div>
